<p id="notice"><%= notice %></p>

<p>
  <strong>Contact name:</strong>
  <%= @order.contact_name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @order.country %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @order.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @order.city %>
</p>

<p>
  <strong>Zip postal code:</strong>
  <%= @order.zip_postal_code %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @order.mobile %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
