<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                 <% cache ['store', Product.latest] do %>
                 <% @products.each do |product| %>
                 <% cache ['col-sm-4 col-lg-4 col-md-4', product] do %>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                        <%= link_to image_tag(product.image, class: 'image1' ,size: "320x150"), product %>
                            <div class="caption">
                                <h4 class="pull-right"><%= number_to_currency(product.price) %></h4>
                                <h4><a href="#"><%= product.title %></a></h4>
                                <h6><%= "נמכר על ידי #{product.user.name}" %></h6>
                                <% if (user_signed_in?) && (current_user == product.user) %>
                                  <td><%= link_to 'Show', product %></td>
                                  <td><%= link_to 'Edit', edit_product_path(product) %></td>
                                  <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                <% end %>


                            </div>
                        </div>
                    </div>
                <% end %>
                <% end %>
                <% end %>
                </div>
            </div>
            

    </div>
<% if user_signed_in? %>
<%= link_to 'New Product', new_product_path %>
<% end %>