<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">


  <!--  <div id="custom-bootstrap-menu" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header" style="float:right"><a class="navbar-brand" href="#">הגנה עצמית</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a>
                </li>
                <li>
                <% if user_signed_in? %>
                        <li><%= current_user.email %></li>
                        <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
                        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %><li>
                        <% else %>
                        <li><%= link_to "הירשם", new_user_registration_path, :class => 'navbar-link'  %> </li>
                        <li><%= link_to "התחבר", new_user_session_path, :class => 'navbar-link'  %></li>
                        <% end %>
                        </li>
                <li><a href="/about-us">הסל שלי</a>
                </li>
                <li><a href="/contact"></a>
                </li>
            </ul>
        </div>
    </div>
</div> -->
<!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <% if user_signed_in? %>
                        <li><%= link_to 'ערוך פרופיל', edit_user_registration_path, :class => 'navbar-link' %></li>
                        <li><%= link_to "התנתק", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %><li>
                        <% else %>
                        <li><%= link_to "הירשם", new_user_registration_path, :class => 'navbar-link'  %> </li>
                        <li><%= link_to "התחבר", new_user_session_path, :class => 'navbar-link'  %></li>
                        <% end %>
                    <li>
                        <a class="page-scroll" href="#about">על החנות</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="http://www.foxnews.com/world/terrorism/index.html">חדשות</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#products">מוצרים</a>
                    </li>

                    <li>
                      <a href=""></a>
                    </li>

                    <a class="navbar-brand page-scroll" href="#page-top">
                      <i class="fa fa-play-circle"></i>  <span class="light"></span>החנות שלי
                    </a>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav> 
<%= yield %>

</body>
</html>
